# Intellij
.idea
.idea/*
.gradle
.gradle/*
gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
*.iws

out
log
build
out/*
log/*
build/*
dist
bin

classes
classes/*
/classes/
gradlew.bat
gradlew
gradle/

# Project
*JDBCConn.java