<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn main-bg-color" data-toggle="collapse" data-target="#myNavbar">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <a class="navbar-brand" href="#">PEREGRINE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li id="page-role" class="active"><a href="#">-</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="restaurant-id" class="active"><a href="#">RestaurantId #<span class="restaurant-id">-</span></a></li>
                <li id="restaurant-phone" class="active"><a href="#" class="restaurant-phone">-</a></li>
                <li id="user-name"><a href="#">-</a></li>
                <li><a id="logout-btn" href="#" onclick="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>