.invoice-head td {
    padding: 0 8px;
}
.container {
    padding-top:30px;
}
.invoice-body{
    background-color:transparent;
}
.invoice-thank{
    margin-top: 60px;
    padding: 5px;
}
address{
    float: right;
    margin-top:15px;
    clear: both;
}

.logo {
    width: 270px;
}