body {
	background: #eee;
	overflow-x: hidden;
}

/* color */
a {
	color: #ff5722;
}
a:hover {
	color: #bf360c;
	text-decoration: none;
}
.bg-main {
	color: #fff;
	background: #ff5722;
}
.bg-main a {
	color: #fff;
}
.bg-main a:hover {
	color: #ffccbc;
}
.white {
	color: #fff;
}
/* MAIN */
#main {
	z-index: 0;
	position: absolute;
}
#wrapper-main {
	margin-right: -15px;
  margin-left: -15px;
}

/* item */
.item {
	background: white;
	min-height: 60px;
	line-height: 60px;
	margin: 5px -5px;
}
h4.title-item {
	margin-top: 21px;
	margin-bottom: 21px;
}
.price-item{
	position: absolute;
	right: 10px;
	top: 10px;
}
.category-tag {
	font-style: italic;
	color: #666;
}

/* HEADER */
#wrapper-header {
	font-size:1.5em;
	min-height: 70px;
}
#wrapper-header>.row>div {
	min-height: 70px;
}
.page-header-sidebar {
	border-bottom: none;
}
.navbar-white-orange{
	border-bottom: 1px solid #ccc;
}
.search-bar {
	width: 100%;
	display: none;
	margin: 15px 0;
}
.search-bar input {
	background: transparent;
	border: 0;
	border-bottom: 3px solid #ff8a65;
}

/* SIDEBAR */
#sidebar {
	z-index: 10;
	position: fixed;
	display: none;
  height: 100vh;
  margin-left: -15px;
}
#wrapper-sidebar {
	background: #fff;
	height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#inside-wrapper-sidebar{
	display: none;
}
.icon-helper-page-header{
	margin: 20px 0 0 0;
}
#member-auth{
	margin: 15px 0 0 0;
}
.overlay{
	z-index: 5;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	display: none;
}
/* invoice list */
#invoice-item-list {
	margin: 15px 0 0 0;
}
.invoice-item{
}
.invoice-item-with-delete:hover{
	background: #ffffff;
}
/* misc */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.padding-default {
	padding-right: 15px;
	padding-left: 15px;
}
.margin-default {
	margin-right: 15px;
	margin-left: 15px;
}
.padding-v-default {
	padding-top: 15px;
	padding-bottom: 15px;
}
.margin-bottom-default {
	margin-bottom: 15px;
}
.full {
	width: 100%;
}
.full-80 {
	width: 80%;
}
hr.gray {
	border-top: 1px solid #ccc;
}
.pointer{
	cursor: pointer;
}
.line-height-header {
	line-height: 70px;
}
/* small bootstrap */
@media only screen and (min-width: 768px) {
	.container {
		width: 100% !important;
	}
	.item{
		height: 120px;
		line-height: 2;
	}
	.price-item{
		top: auto;
		bottom: 10px;
	}
}

/* medium bootstrap */
@media only screen and (min-width: 992px) {
}

/* large bootstrap */
@media only screen and (min-width: 1200px){
	.container {
		width: 1170px !important;
	}
	#main {
		position: static;
	}
	#wrapper-main {
		margin-left: 0px;
	}
	#sidebar {
		position: static;
		display: block;
	}
	#member-auth{
		margin: 40px 0 0 0;
	}
	#inside-wrapper-sidebar{
		display: block;
	}

}