body {
	overflow-x: hidden;
}
/* MAIN */
#main {
	z-index: 0;
	position: absolute;
}
#wrapper-main {
	margin-right: -15px;
  margin-left: -15px;
}
.item {
	border: 1px solid #000;
}

/* HEADER */
#wrapper-header {
	line-height: 70px;
	text-align: center;
	font-size:1.5em;
	min-height: 70px;
	border: 1px solid #000;
}
#wrapper-header>.row>div {
	min-height: 70px;
}
.toggle-sidebar {
	cursor: pointer;
}

/* SIDEBAR */
#sidebar {
	background: #fff;
	z-index: 10;
	position: absolute;
	display: none;
  height: 100vh;
  margin-right: -15px;
  margin-left: -15px;
}
#wrapper-sidebar {
	border: 1px solid #000;
	min-width:200px;
}
.overlay{
	z-index: 5;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	display: none;
}


/* small bootstrap */
@media only screen and (min-width: 768px) {
	.container {
		width: 100% !important;
	}
}

/* medium bootstrap */
@media only screen and (min-width: 992px) {
}

/* large bootstrap */
@media only screen and (min-width: 1200px){
	.container {
		width: 1170px !important;
	}
	#main {
		position: static;
	}
	#wrapper-main {
		margin-left: 0px;
	}
	#sidebar {
		position: static;
		display: block;
	}
	.toggle-sidebar {
		display: none;
	}

}