
/* MAIN */
#main {
	z-index: 0;
	border: 1px solid #000;
	position: absolute;
}
#header {
	border: 1px solid #000;
}
.toggle-sidebar {
	cursor: pointer;
}
.item {
	border: 1px solid #000;
}

/* SIDEBAR */
#sidebar {
	background: #fff;
	z-index: 10;
	border: 1px solid #000;
	position: absolute;
	display: none;
  height: 100vh;
}
#wrapper-sidebar {
	min-width:500px;
}
.overlay{
	z-index: 5;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	display: none;
}

/* medium bootstrap */
@media only screen and (min-width: 992px) {
	.container {
		width: 100% !important;
	}
}

/* large bootstrap */
@media only screen and (min-width: 1200px){
	.container {
		width: 1170px !important;
	}
	#main {
		position: relative;
	}
	#sidebar {
		position: relative;
		display: block;
	}
	.toggle-sidebar {
		display: none;
	}

}