body {
	overflow-x: hidden;
}
/* MAIN */
#main {
	z-index: 0;
	position: absolute;
}
#wrapper-main {
	margin-right: -15px;
  margin-left: -15px;
}

/* item */
.item {
	border: 1px solid #000;
	min-height: 60px;
	line-height: 60px;
	margin: 5px -5px;
}
h4.title-item {
	margin-top: 21px;
	margin-bottom: 21px;
}
.price-item{
	position: absolute;
	right: 10px;
	top: 10px;
}

/* HEADER */
#wrapper-header {
	line-height: 70px;
	text-align: center;
	font-size:1.5em;
	min-height: 70px;
	border: 1px solid #000;
}
#wrapper-header>.row>div {
	min-height: 70px;
}

/* SIDEBAR */
#sidebar {
	z-index: 10;
	position: fixed;
	display: none;
  height: 100vh;
  margin-left: -15px;
}
#wrapper-sidebar {
	background: #fff;
	border: 1px solid #000;
	height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#inside-wrapper-sidebar{
	display: none;
}
.icon-helper-page-header{
	margin: 20px 0 0 0;
}
#member-auth{
	margin: 15px 0 0 0;
}
.overlay{
	z-index: 5;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	display: none;
}
/* invoice list */
#invoice-item-list {
	margin: 15px 0 0 0;
}
.invoice-item{
	padding-top: 5px;
	padding-bottom: 5px;
}
.invoice-item-with-delete:hover{
	background: #eee;
}
/* misc */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.padding-default {
	padding-right: 15px;
	padding-left: 15px;
}
.margin-bottom-default {
	margin-bottom: 15px;
}
.full {
	width: 100%;
}
hr.gray {
	border-top: 1px solid #ccc;
}
.pointer{
	cursor: pointer;
}

/* small bootstrap */
@media only screen and (min-width: 768px) {
	.container {
		width: 100% !important;
	}
	.item{
		height: 120px;
		line-height: 2;
	}
	.price-item{
		top: auto;
		bottom: 10px;
	}
}

/* medium bootstrap */
@media only screen and (min-width: 992px) {
}

/* large bootstrap */
@media only screen and (min-width: 1200px){
	.container {
		width: 1170px !important;
	}
	#main {
		position: static;
	}
	#wrapper-main {
		margin-left: 0px;
	}
	#sidebar {
		position: static;
		display: block;
	}
	#member-auth{
		margin: 40px 0 0 0;
	}
	#inside-wrapper-sidebar{
		display: block;
	}

}