.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #000; /*BACKGROUND color for active*/
	background-color: #ccc;
}

.navbar-default {
	background-color: #fff;
	border-color: #000;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #66CCFF;  /*change color of links in drop down here*/
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: silver; /*Change rollover cell color here*/
}
.navbar-default .navbar-nav > li > a {
	color: #000; /*Change active text color here*/
}
.navbar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.col-half-offset{
    margin-left:4.166666667%
}

.navbar-nav > li > a {
	color: #ff8a65 !important;
}
.navbar-nav > li > a:hover {
	color: #ff5722 !important;
	background-color: transparent !important;
	border-bottom: 3px solid #ccc;
}
.navbar-nav > .active > a {
	color: #ff5722 !important;
	background-color: transparent !important;
	border-bottom: 3px solid #ff5722;
}
.navbar-nav > .active > a:hover {
	color: #ff5722 !important;
	border-bottom: 3px solid #ff5722 !important;
}