<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a href="#" class="navbar-brand">PEREGRINE</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="index.html">Manager Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">RestaurantId #<span class="restaurant-id">-</span></a></li>
                <li class="active"><a href="#" class="restaurant-phone">-</a></li>
                <li><a href="#" id="user-name">-</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>