<div class="col-xs-12 col-lg-8" id="main">
    <div id="wrapper-main">
        <div class="row">
            <div class="col-xs-12" id="header">
                <header id="wrapper-header" class="bg-main">
                    <div class="row">
                        <div class="col-xs-2 col-md-1 line-height-header align-right">
                            <div class="toggle-search pointer padding-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-8 col-md-10">
                            <div class="row">
                                <div class="search-bar">
                                    <form>
                                        <input type="text" name="s" placeholder="Search.." class="full">
                                    </form>
                                </div>
                                <div class="line-height-header align-center logo">
                                    LOGO
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-md-1 line-height-header align-left">
                            <div class="toggle-sidebar pointer toggle-sidebar-in-main hidden-lg">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar nav-tabs navbar-white-orange">
                            <div class="container-fluid">
                                <ul id="nav-categories" class="nav navbar-nav">
                                    <li class="active"><a href="#category-all" data-toggle="tab">All</a></li>
                                    <!--<li><a href="#food" data-toggle="tab">Food</a></li>-->
                                    <!--<li><a href="#dessert" data-toggle="tab">Dessert</a></li>-->
                                    <!--<li><a href="#drink" data-toggle="tab">Drink</a></li>-->
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div><!-- /header -->
        </div>
        <div id="wrapper" class="row padding-default">

            <div class="tab-content">
                <div class="tab-pane fade active in" id="category-all"></div>
                <!--<div class="tab-pane fade" id="food">-->
                    <!--<div class="row padding-default margin-bottom-default">-->
                        <!--<div id="wrapper-category">-->
                            <!--<div class="col-xs-12">-->
                                <!--<div class="category-tag">-->
                                    <!--All, Ayam, Ikan, Udang-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">-->
                        <!--<div class="item pointer">-->
                            <!--<div class="row padding-default">-->
                                <!--<div class="col-xs-8 col-sm-12">-->
                                    <!--<h4 class="title-item">Ayam Bakar Kecap Pedas Sekali</h4>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 col-sm-12 align-right price-item">-->
                                    <!--Rp35000-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="dessert">-->
                    <!--<div class="row padding-default margin-bottom-default">-->
                        <!--<div id="wrapper-category">-->
                            <!--<div class="col-xs-12">-->
                                <!--<div class="category-tag">-->
                                    <!--All, Pudding, Buah, Pancake-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">-->
                        <!--<div class="item pointer">-->
                            <!--<div class="row padding-default">-->
                                <!--<div class="col-xs-8 col-sm-12">-->
                                    <!--<h4 class="title-item">Puding mahal</h4>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 col-sm-12 align-right price-item">-->
                                    <!--Rp35000-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="drink">-->
                    <!--<div class="row padding-default margin-bottom-default">-->
                        <!--<div id="wrapper-category">-->
                            <!--<div class="col-xs-12">-->
                                <!--<div class="category-tag">-->
                                    <!--All, Soft drink, Jus, Caffe-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">-->
                        <!--<div class="item pointer">-->
                            <!--<div class="row padding-default">-->
                                <!--<div class="col-xs-8 col-sm-12">-->
                                    <!--<h4 class="title-item">Greentea Caffe</h4>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 col-sm-12 align-right price-item">-->
                                    <!--Rp35000-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>