<div class="col-xs-11 col-sm-5 col-lg-4" id="sidebar">
    <div id="wrapper-sidebar">
        <div id="inside-wrapper-sidebar">
            <div class="row padding-default bg-main margin-bottom-default">
                <div class="col-xs-10 col-sm-6">
                    <div class="page-header page-header-sidebar">
                        <h3>Invoice<br>
                            <small class="white">Sat, 23/09/2017</small>
                        </h3>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-6">
                    <div class="icon-helper-page-header align-right">
                        <div class="toggle-sidebar pointer toggle-sidebar-in-sidebar">
                            <span class="glyphicon glyphicon-remove hidden-lg"></span>
                        </div>
                        <div id="member-auth">
                            <a id="add-member" href="#" data-toggle="modal" data-target="#add-member-modal">
                                <span class="glyphicon glyphicon-user"></span><span class="hidden-xs"> Add member</span>
                            </a><br>
                            <div id="member-id" style="display: none"></div>
                            <div id="member-name" style="display: none"></div><br>
                            <a id="remove-member-name" style="display: none" href="#" onclick="removeMember()">X</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-default">
                <div class="col-xs-12 hidden-lg">
                    <a href="#" id="add-item"><span class="glyphicon glyphicon-plus"></span> Add item</a>
                </div>
            </div>
            <div class="row padding-default">
                <div id="invoice-item-list" class="col-xs-12">
                    <!-- Here the list -->
                </div>
            </div>
            <hr class="full gray">
            <div class="row padding-default">
                <div class="col-xs-12">
                    <div class="invoice-item row">
                        <div class="col-xs-6 invoice-item-name">
                            Subtotal
                        </div>
                        <div class="col-xs-2 invoice-item-count">
                        </div>
                        <div class="col-xs-4 invoice-item-price align-right">
                            <div class="row padding-default">
                                Rp<span id="invoice-subtotal">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-item row">
                        <div class="col-xs-6 invoice-item-name">
                            Tax
                        </div>
                        <div class="col-xs-2 invoice-item-count">
                            <span id="invoice-tax">0</span>%
                        </div>
                        <div class="col-xs-4 invoice-item-price align-right">
                            <div class="row padding-default">
                                Rp<span id="invoice-subtotal-tax">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="full gray">
            <div class="row padding-default margin-bottom-default">
                <div class="col-xs-12">
                    <div class="invoice-item row">
                        <div class="col-xs-6 invoice-item-name">
                            Total
                        </div>
                        <div class="col-xs-2 invoice-item-count">
                        </div>
                        <div class="col-xs-4 invoice-item-price align-right">
                            <div class="row padding-default">
                                Rp<span id="invoice-total">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="receipt-button" class="row padding-default margin-bottom-default">
                <div class="col-xs-12 col-sm-6 margin-bottom-default">
                    <button type="submit" class="btn btn-danger col-xs-12" data-toggle="modal" data-target="#delete-all-item-modal"><span class="glyphicon glyphicon-trash"></span> Remove All</button>
                </div>
                <div class="col-xs-12 col-sm-6 margin-bottom-default">
                    <button type="submit" class="btn btn-success col-xs-12" data-toggle="modal" data-target="#payment-modal" onclick="renderPayment()">Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-item-modal">
<!-- Modal Notification -->
</div>
<div id="delete-item-modal">
    <!-- Modal Notification -->
</div>
<div id="delete-all-item-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure delete this item?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteAllOnReceipt()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="payment-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment Process</h4>
            </div>
            <div class="modal-body">
                <p>Confirm items :</p>
                <div id="payment-list">
                    <!--List goes here-->
                </div>
            </div>
            <div class="modal-body">
                <div id="payment-item-all" class="row">
                    <div class="col-xs-8">Total</div>
                    <div class="col-xs-4">Rp<span id="payment-total">0</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="proceedReceipt()">Submit</button>
            </div>
        </div>

    </div>
</div>


<div id="add-member-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add member</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!--<p>Find member by name :</p>-->
                    <!--<input name="member-name" placeholder="Type here..">-->
                    <!--<div id="result-member-find">-->
                        <!--&lt;!&ndash;here result member&ndash;&gt;-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-xs-12"><h4>Member id :</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 margin-bottom-default"><input name="member-id" placeholder="Id here.."></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12"><h4>New Member : </h4></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 margin-bottom-default"><input name="registration-member-name" placeholder="Name.."></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 margin-bottom-default"><input name="registration-member-address" placeholder="Address.."></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 margin-bottom-default"><input name="registration-member-email" placeholder="Email.."></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onclick="addMember()">Add Member</button>
            </div>
        </div>

    </div>
</div>